[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/netcdf-c"]
	path = submodules/netcdf-c
	url = https://github.com/unidata/netcdf-c
